
body {
    font-family: sans-serif;
}
table, tr, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
/*name = h1*/
#name {
    color: darkslategrey;
    /*background-color: COLOR;*/
}
/*netid = h2*/
#netid {
    /*color: COLOR;*/
    background-color: yellow;
}
.centered {
    text-align: center;
}
.split {
    /*height: XXX;
    width: 44%;
    overflow-x: hidden;
    position: fixed;
    top: 40;*/
    /*border: 1px solid black;*/
}
.grid {
    display: grid;
    grid-template-columns: 48% 48%;
    column-gap: 4%;
    /*border: 1px solid black;*/
    column-width: auto;
}

.left {
    margin-top: 10px;
    left: 4%;
    border: 1px solid black;
}
.right {
    margin-top: 10px;
    right: 4%;
    border: 1px solid black;
}
.tuesthurs {
    color: #e0f6ef;
    background-color: #6ab099;
}
.pad {
    margin-left: 30px;
    margin-right: 30px;
}
.marginup{
    margin-top: 30px;
}
.gitlink {
    margin-bottom: 10px;
}
.imglink {
    margin: 10px;

}
.img {
    width: 400px;
    border: 1px solid black;
    border-radius: 15px;
}
.img:hover {
    border-radius: 50%;
}
.imglink:hover {
    border-radius: 50%;
}