*{margin: 0; padding: 0; border: 0; outline: 0;}
/*nav stuff*/
.navbar {
    text-decoration: none;
    font-weight: bold;
    display: flex;
    list-style-type: none;
    align-items: center;
    /*padding-right: 5%;*/
}
.navitem {
    text-align: center;
    border-collapse: collapse;
    border: 1px solid black;
    margin: 1px;
    padding: 1%;
}
/*desktop*/
@media only screen and (min-width: 601px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }
    .navitem {
        
        width: 25%;
    }
}
/*mobile*/
@media only screen and (max-width: 700px) {
    .navbar {
        flex-direction: column;
    }
    .navitem {
        width: 97%;
    }
}