* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

/*nav stuff*/
.navbar {
    text-decoration: none;
    font-weight: bold;
    display: flex;
    list-style-type: none;
    align-items: center;
    /*padding-right: 5%;*/
}

.navitem {
    text-align: center;
    border-collapse: collapse;
    border: 1px solid black;
    margin: 1px;
    padding: 1%;
}

/*desktop*/
@media only screen and (min-width: 600px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }

    .navitem {
        width: 25%;
    }

    .funcs {
        width: 70%;
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
    }

    .insertdiv {
        width: 70%;
        display: grid;
        grid-template-columns: auto auto auto auto auto;
    }

    .func {
        align-items: center;
        width: 99%;
        font-weight: bold;
        font-size: x-large;
        border: 1px solid black;
        border-collapse: collapse;
    }

    .insert {
        width: 90%;
        border: 1px solid black;
        border-collapse: collapse;
        margin: 5% 5% 5% 5%;
        padding: 5%;
    }

    .pinsert {
        width: 100%;
        margin-left: 10%;
        padding-top: 15%;
        text-align: center;
        font-size: xx-large;
        font-weight: bold;
    }
}

/*mobile*/
@media only screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
    }

    .navitem {
        width: 97%;
    }

    .hidebtn {
        display: none;
    }

    .funcs {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
    }

    .insertdiv {
        width: 90%;
        display: grid;
        grid-template-columns: auto;
    }

    .func {
        width: 99%;
        font-weight: bolder;
        font-size: xx-large;
        border: 1px solid black;
        border-collapse: collapse;
    }

    .insert {
        width: 90%;
        border: 1px solid black;
        border-collapse: collapse;
        margin: 5% 5% 5% 5%;
        padding: 5%;
    }

    .pinsert {
        width: 100%;
        text-align: center;
        font-size: xx-large;
        font-weight: bold;
    }
}

.mobilegrid{
    margin-left: 13%;
    display: grid;
    grid-template-columns: auto auto;
}